@import 'base/variables';
@import 'base/fonts';
@import 'base/colors';
@import 'base/typography';

@import 'misc/overrides';

@import 'grid/container';
@import 'grid/grid-container';

@import 'components/header';
@import 'components/hero';
@import 'components/cards';
@import 'components/footer';
@import 'components/loading';


html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

